
.navArea { 
float : left;
background-image: url("bk.jpg"); 
background-repeat: repeat;

         font-family: myFont;


}

li { 
font-size: 20px;
border: 20px solid navy;
         font-family: myFont;
    color: navy;


}
body{ 
   background-image: url("bk.jpg"); 
background-repeat: repeat;
    font-family: myFont;
}



@font-face {
     font-family: myFont;
     src : url("fonts/PenguinAttack.ttf");
}
.titleN { 
background-color: white;
font-family: myFont;
align-content: center; 
font-size: 40px ;
    text-align: center;
    padding: 10px ;
    margin: 10px ;
    color: navy;
}
.infoW { 
    font-family: fantasy;
color :navy;
}